/* Cart.css */
.cart-container {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px;
  }
  h2,
  .total-price{
    text-align: center;
  }
  
  .cart-item {
    display: flex;
    margin-bottom: 20px;
  }
  
  .cart-item img {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    object-fit: cover;
  }
  
  .item-title {
    font-weight: bold;
  }
  
  .item-price {
    margin-bottom: 5px;
  }
  
  quantity-input {
    width: 50px;
    margin-left: 10px;
  }
  